<div class="col-md-12 text-center my-4">
  <button class="btn btn-outline-primary" (click)="generatePDF()">Download</button>
</div>
<div class="container-fluid" id="content" #content>

  <h3 class="text-center my-4">Contrato De Subasta Electrónica Nº001/2022</h3>
  <p class="mt-4">
    Comparecen a la celebración del presente contrato, por una parte (nombre de la entidad contratante),
    representada por (nombre de la máxima autoridad o su delegado) con (Documento de identificación o
    Registro Único de Contribuyente), en calidad de (cargo), a quien en adelante se le denominará contratante;
    y, por otra (nombre del contratista o de ser el caso del representante legal, apoderado o procurador común
    de la “persona jurídica”) con (Documento de identificación o Registro Único de Contribuyente), a quien
    en adelante se le denominará contratista. Las partes se obligan en virtud del presente contrato, al tenor
    de las siguientes cláusulas:
  </p>

  <h5>CLÁUSULA PRIMERA</h5>
  <h5>1. Antecedentes</h5>

  <p>
    1.1 De conformidad con los artículos contenido en la Código procesal civil, Código mercantil y ley Nº 601 del
    código penal, en conjunto de a la Ley Especial De Ciberdelitos, contempla la “Contratación del servicio de
    subasta Electrónica”.
    <br><br>
    1.2 Previo los informes, la máxima autoridad del contratante resolvió aprobar la Subasta Electrónica (No.)
    para (describir objeto de la contratación).
    <br><br>
    1.3 Se cuentan con las existencia y suficiente disponibilidad de fondos, conforme consta en la certificación
    brindada por (Nombre Representante legal, apoderado o procurador común de la “persona jurídica”) con
    (Documento de identificación o Registro Único de Contribuyente) el representante legal de
    (Entidad que brinda el servicio de subasta).
    <br><br>
    1.4 Se realizó la respectiva notificación de inicio de la subasta el (día) (mes) (año), a través del software
    SIBAGRO.
    <br><br>
    1.5 Luego del procedimiento correspondiente, (nombre) en su calidad de máxima autoridad de la contratante
    (o su delegado), mediante resolución (No.) de (día) de (mes) de (año), adjudicó el contrato para la
    (establecer objeto del contrato) al oferente (nombre del adjudicatario).
    <br><br>
  </p>


  <h5>CLÁUSULA SEGUNDA</h5>
  <h5>2. Documentos Del Contrato</h5>
  <p>
    2.1 La oferta presentada por el contratista, con todos sus documentos que la conforman.
    <br><br>
    2.2 Las garantías presentadas por el contratista.
    <br><br>
    2.3 Listado de bienes subastados.
    <br><br>
    La resolución de adjudicación.
    <br><br>
    2.4 La resolución de adjudicación.
    <br><br>
    2.5 Las certificaciones de (dependencia a la que le corresponde certificar), que acrediten
    la existencia de la partida presupuestaria y disponibilidad de recursos, para el cumplimiento
    de las obligaciones derivadas del contrato.
    <br><br>
    2.6 En el caso que el bien a ser adquirido corresponda a uno de la lista de los publicados en
    el Portal Institucional Nacional de Concertación tributaria, se considerará como parte integrante
    del contrato los requerimientos correspondientes al nivel de tributo correspondiente.
    <br><br>
  </p>


  <h5>CLÁUSULA TERCERA</h5>
  <h5>3. Objeto Del Contrato</h5>

  <p>
    3.1 El contratista se obliga con el (contratante) a (suministrar, instalar y entregar debidamente
    funcionando los bienes) (proveer los servicios requeridos) y a ejecutar el contrato a entera satisfacción
    de la contratante, (designar lugar de entrega o sitio), según las características y especificaciones
    técnicas o términos de referencia constantes en la oferta, que se agrega y forma parte integrante de este
    contrato.
    <br><br>
    3.2 Adicionalmente el contratista proporcionará el soporte técnico, los mantenimientos preventivo y correctivo
    respectivos por el lapso de (…) contados a partir de la fecha de suscripción del acta de entrega recepción
    única, periodo que corresponde al de vigencia de la garantía técnica.
    <br><br>
  </p>


  <h5>CLÁUSULA CUARTA</h5>
  <h5>4. Precio Del Contrato</h5>

  <p>
    4.1 El valor del presente contrato, que la contratante pagará al contratista, es el de (cantidad exacta en
    números y letras) dólares de los Estados Unidos de América, más IVA, de conformidad con la oferta presentada
    por el contratista, valor que se desglosa como se indica a continuación:
    (Para bienes incluir tabla de cantidades y precios corregida de la oferta) (Para servicios incluir tabla
    del precio ofertado con su desglose).
    Los precios acordados en el contrato, constituirán la única compensación al contratista por todos sus costos,
    inclusive cualquier impuesto, derecho o tasa que tuviese que pagar, excepto el Impuesto al Valor Agregado que
    será añadido al precio del contrato.
    <br><br>
  </p>

  <h5>CLÁUSULA QUINTA</h5>
  <h5>5. Garantías</h5>

  <p>
    5.1 En este contrato se rendirán las siguientes garantías: (establecer las garantías que SE establecen durante
    todo el proceso de subasta para las contrataciones de bienes y servicios que es parte integrante del presente
    contrato).
    <br><br>
    5.2 Las garantías entregadas se devolverán de acuerdo a lo establecido en las normativas de funcionamiento de la
    subasta, mientras tanto, deberán mantenerse vigentes, lo que será vigilado y exigido por el contratante.
    <br><br>
  </p>


  <h5>CLÁUSULA SEXTA</h5>
  <h5>Multas</h5>

  <p>
    Por cada día de retardo en la ejecución de las obligaciones contractuales por parte del contratista, se aplicará
    la multa de (valor establecido por la entidad contratante, de acuerdo a la naturaleza del contrato, en ningún
    caso podrá ser menos al 1 por 1.000 del valor del contrato). (El porcentaje para el cálculo de las multas lo
    determinará la entidad en función del incumplimiento y de la contratación).
    <br><br>
  </p>

  <h5>CLÁUSULA OCTAVA</h5>
  <h5>Reajuste De Precios</h5>

  <p>
    Este contrato no está sujeto a reajuste de precios por ningún concepto, por lo que el contratista renuncia
    expresamente a peticiones de reajuste de precio, de conformidad con la facultad prevista en el reglamento que
    rige el proceso de subasta.
    <br><br>
  </p>


  <h5>CLÁUSULA NOVENA</h5>
  <h5>Comunicación Entre Las Partes</h5>

  <p>
    Todas las comunicaciones, sin excepción, entre las partes, relativas a los trabajos, serán formuladas por
    escrito o por medios electrónicos y en idioma español. Las comunicaciones entre el administrador del contrato
    y el contratista se harán a través de documentos escritos o por medios electrónicos.
    <br><br>
  </p>

  <h5>CLÁUSULA DÉCIMA</h5>
  <h5>10. Domicilio</h5>

  <p>
    10.1 Para todos los efectos de este contrato, las partes convienen en señalar su domicilio en la ciudad de
    (establecer ciudad).
    <br><br>
    10.2 Para efectos de comunicación o notificaciones, las partes señalan como su dirección, las siguientes:
    La contratante: (dirección, teléfonos y correo electrónico). El contratista:(dirección, teléfonos y correo
    electrónico).
    <br><br>
  </p>


  <h5>CLÁUSULA UNDÉCIMO</h5>
  <h5>11. Aceptación De Las Partes</h5>
  <h5>11.1 Declaración</h5>

  <p>
    Las partes libre, voluntaria y expresamente declaran que conocen y aceptan el texto íntegro de las Condiciones
    Generales del Contrato de Subasta Electrónica, publicado en el Portal Institucional de BOLNAGRO, vigente a la fecha
    de la convocatoria del procedimiento de contratación, y que forma parte integrante de este Contrato que están
    suscribiendo.
    Libre y voluntariamente, las partes expresamente declaran su aceptación a todo lo convenido en el presente contrato
    y se someten a sus estipulaciones.
    <br><br>
  </p>

  <div class="firma text-center">
    <h3>Firma:</h3>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS04kJUcASxa_2NRUnAWRj1x7NbHH0sHgiQEA&usqp=CAU"
      alt="firma" width="100px" height="100px">
  </div>

</div>